---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
	<div class="py-6">
		<button onclick="window.history.back()"> == terug</button>
	</div>
	<p>Detail boek</p>
	<div class="flex justify-center">
		<img class="w-auto h-96" src="../../public/De_reis_van_de_wijze_kat.jpg" alt="boek 1" transition:name="katboek">
	</div>
</Layout>