---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
  <h1>Hier komen alle boeken</h1>
  <a href="/Detailboek">detail van dit boek</a>
  <div>
	<p>De reis van de wijze kat</p>
	<div>
		<img class="w-auto h-56" src="../../public/De_reis_van_de_wijze_kat.jpg" alt="boek 1" transition:name="katboek">
	</div>
  </div>
</Layout>