---

---

<header
  class="bg-primary-500 text-white px-10 py-7 flex justify-between items-center"
>
  <nav class="flex items-center justify-between w-full">
    <div class="flex justify-between items-center w-fit">
      <a href="/" class="flex items-center">
        <img
          src="../../logo.svg"
          class="border-primary-200 border-1.8 rounded-full"
          alt="Logo Storyland"
        />
        <div class="ml-4 font-semibold text-3xl text-neutral-white">
          Storyland
        </div>
      </a>
      <nav class="grid grid-cols-2 gap-10 text-lg ml-20">
        <a href="/">Home</a>
        <a href="/Ontdek">Ontdek</a>
      </nav>
    </div>
    <div>
      <a href="/Winkelmand">
        <i class="fas fa-shopping-bag text-2xl"></i>
      </a>
    </div>
  </nav>
</header>