---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import { books } from '../../api/api.json';
import type { Book } from '../../interfaces/book';

export async function getStaticPaths() {

	return books.map((book: Book) => {
		return {
			params: {
				slug: book.slug
			},
			props: {
				book
			}
		}
	});
}

const { book } = Astro.props;

---
<Layout title="Detail boek">
	<div class="py-6">
		<button onclick="window.history.back()"> == terug</button>
	</div>
	<p>Detail boek</p>
	<p>{book.title}</p>
	<p>{book.author}</p>
	<div class="flex justify-center">
		<img class="w-auto h-96" src={book.img} alt="boek 1" transition:name={book.slug}>
	</div>
</Layout>