---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{title}</title>
	<ViewTransitions />
</head>
<body>
	<Header title={title}/>
    <article class="h-screen bg-neutral-white text-neutral-black px-8 py-6">
      <slot />
    </article>
    <Footer />
  </body>
</html>