---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
import { ViewTransitions, fade } from 'astro:transitions';

const anim = {
  old: {
    name: 'fadeIn',
    duration: '0.2s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeOut',
    duration: '0.3s',
    easing: 'linear',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{title}</title>
	<ViewTransitions />
</head>
<!-- <body transition:animate="none"> -->
<body transition:animate={myFade}>
	<Header title={title}/>
    <div transition:animate="slide" class="h-screen bg-neutral-white text-neutral-black px-8 py-6">
      <slot />
    </div>
    <Footer />
  </body>
</html>